In [1]:
a = [1,9,7,4,2,7,9,4,5,5,6,9,0]

In [2]:
a.sort()

In [3]:
a

[0, 1, 2, 4, 4, 5, 5, 6, 7, 7, 9, 9, 9]

In [4]:
a.reverse()

In [5]:
a

[9, 9, 9, 7, 7, 6, 5, 5, 4, 4, 2, 1, 0]

In [11]:
a.sort()

In [13]:
b=a

In [14]:
b

[0, 1, 2, 4, 4, 5, 5, 6, 7, 7, 9, 9, 9]

In [16]:
var1=["tyan", "fitri", "disna", "rizal"]

In [17]:
var1.sort()

In [18]:
var1

['disna', 'fitri', 'rizal', 'tyan']

In [20]:
var=[1,2,3,4,5,[7,8,9,10]]

In [21]:
var[3]

4

In [22]:
var[5]

[7, 8, 9, 10]

In [23]:
var[5][2]

9

In [24]:
isi=[1,2,3,4,5,[6,7,8,[9,10,11,"targer",12]]]

In [27]:
isi[5][3]

[9, 10, 11, 'targer', 12]

In [28]:
isi [5][3][3]

'targer'

In [29]:
type(isi)

list

In [30]:
ganjil = [1,3,5,7,9]

In [31]:
genap = [2,4,6,8,10]

In [32]:
angka = ganjil + genap

In [33]:
angka

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [36]:
bilangan = [ganjil,genap]

In [37]:
bilangan

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [41]:
for apapun in bilangan:
    print(apapun)
    for apaya in apapun:
        print(apaya)

[1, 3, 5, 7, 9]
1
3
5
7
9
[2, 4, 6, 8, 10]
2
4
6
8
10