In [1]:
import pandas as pd

In [30]:
penjualan = {
    "hari" : ['hari-1']*6+['hari-2']*6,
    "toko" : ['bandung', 'garut', 'jakarta', 'bandung', "jakarta", 'bandung', 'garut', 'jakarta', 'garut', 'bandung', 'solo', 'kebumen'],
    "barang" : ['telur','telur', 'telur','telur', 'telur','telur', 'telur','telur', 'telur','telur', 'telur','telur']
    "kotor" :int [200, 230, 200, 230, 200, 230, 200, 230, 200, 230, 200, 230]
}

SyntaxError: invalid syntax (<ipython-input-30-c438eb5e7439>, line 5)

In [22]:
df = pd.DataFrame(penjualan)

In [23]:
df

      hari     toko barang
0   hari-1  bandung  telur
1   hari-1    garut  telur
2   hari-1  jakarta  telur
3   hari-1  bandung  telur
4   hari-1  jakarta  telur
5   hari-1  bandung  telur
6   hari-2    garut  telur
7   hari-2  jakarta  telur
8   hari-2    garut  telur
9   hari-2  bandung  telur
10  hari-2     solo  telur
11  hari-2  kebumen  telur